<h1>
  It's My Birthday!!! 
</h1>
<h2>On 12th July</h2><!-- Example image URL -->
<img src="/15345229a.jpg" 
alt="Birthday Cake"width="300" height="250"/>

<br />
<h4>What to bring:</h4>
<ul>
  <li>Ballons</li>
  <li>You are Favourite Dish</li>
  <li>Gifts</li>
</ul>

<h4>Where you need to come:</h4>
<!-- Example Google Maps Link -->
<a href="https://www.google.com/maps/@35.7040744,139.5577317,3a,75y,289.6h,87.01t,0.72r/data=!3m6!1e1!3m4!1sgT28ssf0BB2LxZ63JNcL1w!2e0!7i13312!8i6656i">Location</a> 