<!-- Write your code below -->
<h1>The Best Movies According To Anish</h1>

<h2>My top 3 movies of all time</h2>
<hr />
<h3>Aayutha Ezhuthu</h3>
<p>This is my all time fav movie. The movie is about the youth entering into politics.</p>
<h3>Alaipayuthe</h3>
<p>This is a famous love movie which have beatiful songs </p>
<h3>Thuppaki</h3>
<p>This movie is about an army officer who is on a secret mission even in his vacation</p>
